@import url('https://fonts.googleapis.com/css2?family=Allison&family=Montserrat:wght@400;700&family=Nunito+Sans:wght@700&family=Playfair+Display:wght@500&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
}

h3{
    font-family: 'Playfair Display', serif;
    letter-spacing: .5px;
}

/* hiding sections I want to add later if I have time */

.hidden{
    display: none;
}

/* reusable styles */

/* this shade of maroon is the color of the logo and a main theme color */
.maroon-theme{
    color: rgb(103, 7, 7);
}

.ital{
    font-style: italic;
}

.space-before{
    padding-left: 8px;
}

.space-after{
    padding-right: 8px;
}

.inline-block{
    display: inline-block;
}

.align-top{
    vertical-align: top;
}

.no-margin{
    margin: 0;
}

.align-center{
    text-align: center;
}

.internal-link{
    text-decoration: none;
}

.internal-link:hover{
    text-decoration: underline;
}

.internal-link-maroon{
    color: rgb(103, 7, 7);
}

.internal-link-light{
    color: #fff;
}

.no-margin-top{
    margin-top: 0;
}

/* header */

header{
    height: 110px;
}

#logo{
    font-family: 'Playfair Display', serif;
    float: left;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 40px;
    text-decoration: none;
    color: rgb(103, 7, 7);
    margin: 15px 20px;
}

#logo > span{
    letter-spacing: 5.2px;

    /* reduce the height of word "Edinburgh" in logo */
    display: inline-block;
    transform: scale(1, .8);
}

nav{
    float: right;
}

nav ul{
    list-style-type: none;
    margin: 0 15px 0 0;
}

nav li{
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
    padding: 0 15px;
    margin: 46px 0;
}

nav a{
    text-decoration: none;
    color: black;
}

nav a:hover{
    color: rgb(103, 7, 7);
    text-decoration: underline;
}

/* home page sections */

.home-page-section{
    height: 700px;
}

.section-image{
    height: 350px;
}

.dark-section{
    background-color: #bebebe;
}

.home-section-heading{
    text-transform: uppercase;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 2.3rem;
    margin: 0;
}

.home-dark-heading{
    color: rgb(103, 7, 7);
}

.home-light-heading{
    color: white;
}

/* welcome section */

#welcome{
    height: 500px;
    background: #3e3e3e url("../images/pexels-suzy-hazelwood-1887609.jpg") center/cover no-repeat;
}

#welcome{
    color: white;
}

#welcome h1{
    margin: 190px 0 0 0;
    float: left;
    background-color: rgba(62, 62, 62, .5);
    padding: 0 15px 15px 50px;
}

#heading-logo{
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-size: 70px;
    line-height: 70px;
    font-weight: 500;
}

#heading-welcome-to{
    font-family: 'Allison', cursive;
    text-transform: initial;
    font-weight: 400;
}

#heading-edin{
    letter-spacing: 8.8px;
    display: inline-block;
    transform: scale(1, .8);
}

/* book club section */

#club-section{
    /* this code centers the content in the section horizontally and vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

#club-outer{
    width: 80%;
    height: 550px;

    /* this line of code is necessary to position the header */
    position: relative;

    /* this line of code is necessary to position the rest of the text and push it to the bottom of the section, below the header, using the self-align property */
    display: flex;
}

#club-home-header{
    /* this code positions the header to the right of the image */
    position: absolute;
    /* this value was chosen because it is the approx width of the image */
    left: 362px;

    padding-left: 4%;
}

#main-club-cover{
    height: 550px;
    float: left;
}

#club-home-text{    
    /* the height of the content div minus the height of the header */
    height: 500px;

    /* this code pushes the last paragraph to the bottom of the section */
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    
    /* pushes the whole text content to the bottom of the div so it is positioned below the heading */
    align-self: flex-end;

    padding-left: 4%;
}

#club-home-info{
    /* this code is necessary so the last "Learn more..." paragraph doesn't render next to this div */
    width: 100%;
}

/* recommendations section */

#rec-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

#rec-content-wrapper{
    width: 95%;
    height: 650px;
}

#rec-section-heading{
    text-align: center;
}

.rec-home-book-div{
    width: 33%;
    display: inline-block;
    padding: 0 3%;
    box-sizing: border-box;
    vertical-align: top;
    text-align: center;
}

.rec-cover-image{
    height: 300px;
}

/* bookstores section */

#stores-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

#stores-content-wrapper{
    width: 80%;
    height: 600px;
}

#stores-section-heading{
    margin-bottom: 50px;
}

#stores-home-image{
    height: 400px;
    float: right;
}

#stores-home-text{
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    padding-right: 4%;
}