@import url('https://fonts.googleapis.com/css2?family=Allison&family=Montserrat:wght@400;700&family=Nunito+Sans:wght@700&family=Playfair+Display:wght@500&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
}

h3{
    font-family: 'Playfair Display', serif;
    letter-spacing: .5px;
}

/* hiding sections I want to add later if I have time */

.hidden{
    display: none;
}

/* reusable styles */

/* this shade of maroon is the color of the logo and a main theme color */
.maroon-theme{
    color: rgb(103, 7, 7);
}

.ital{
    font-style: italic;
}

.space-before{
    padding-left: 8px;
}

.space-after{
    padding-right: 8px;
}

.inline-block{
    display: inline-block;
}

.align-top{
    vertical-align: top;
}

.no-margin{
    margin: 0;
}

.no-margin-top{
    margin-top: 0;
}

.no-margin-bottom{
    margin-bottom: 0;
}

.align-center{
    text-align: center;
}

.internal-link{
    text-decoration: none;
}

.internal-link:hover{
    text-decoration: underline;
}

.internal-link-maroon{
    color: rgb(103, 7, 7);
}

.internal-link-light{
    color: #fff;
}

/* header */

header{
    height: 110px;
}

#logo{
    font-family: 'Playfair Display', serif;
    float: left;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 40px;
    text-decoration: none;
    color: rgb(103, 7, 7);
    margin: 15px 20px;
}

#logo > span{
    letter-spacing: 5.2px;

    /* reduce the height of word "Edinburgh" in logo */
    display: inline-block;
    transform: scale(1, .8);
}

nav{
    float: right;
}

nav ul{
    list-style-type: none;
    margin: 0 15px 0 0;
}

nav li{
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
    padding: 0 15px;
    margin: 46px 0;
}

nav a{
    text-decoration: none;
    color: black;
}

.current-page{
    text-decoration: underline;
}

nav a:hover{
    color: rgb(103, 7, 7);
    text-decoration: underline;
}

/* home page sections */

.home-page-section{
    height: 700px;
}

.section-image{
    height: 350px;
}

.dark-section{
    background-color: #bebebe;
}

.home-section-heading{
    text-transform: uppercase;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 2.3rem;
    margin: 0;
}

.home-dark-heading{
    color: rgb(103, 7, 7);
}

.home-light-heading{
    color: white;
}

/* welcome section */

#welcome-section{
    height: 500px;
    background: #3e3e3e url("../images/pexels-suzy-hazelwood-1887609.jpg") center/cover no-repeat;
    color: white;
    position: relative;
}

#welcome-logo{
    float: left;
    background-color: rgba(62, 62, 62, .5);
    padding: 0 15px 15px 50px;
    margin: 0;
    position: absolute;
    top: 190px;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-size: 70px;
    line-height: 70px;
    font-weight: 500;
}

#heading-welcome-to{
    font-family: 'Allison', cursive;
    text-transform: initial;
    font-weight: 400;
}

#heading-edin{
    letter-spacing: 8.8px;
    display: inline-block;
    transform: scale(1, .8);
}

/* book club section */

#club-section{
    /* this code centers the content in the section horizontally and vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

#club-wrapper{
    width: 80%;
    height: 550px;

    /* this line of code is necessary to position the image */
    position: relative;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#club-section-heading{
    /* the value of 362px was chosen because it is the approx width of the image */
    width: calc(100% - 362px);
    
    /* pushes the heading to the right */
    align-self: flex-end;

    padding-left: 4%;
    box-sizing: border-box;
}

#main-club-cover{
    height: 550px;
    position: absolute;
}

#club-home-text{
    width: calc(100% - 362px);
    align-self: flex-end;
    padding-left: 4%;
    box-sizing: border-box;

    /* makes content take up the remaining vertical space */
    flex-grow: 1;

    /* this code pushes the last paragraph to the bottom of the section */
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

#club-home-info{
    /* this code is necessary so the last "Learn more..." paragraph doesn't render next to this div */
    width: 100%;
}

/* this code makes the total width of the date and location information blocks the same so that they will break onto new lines at the same time */
#club-section-date{
    width: 264.42px;
}

/* recommendations section */

#rec-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

#rec-wrapper{
    width: 95%;
    height: 650px;
}

#rec-section-heading,
#rec-section-desc{
    text-align: center;
}

.rec-home-book-div{
    width: 33%;
    display: inline-block;
    padding: 0 3%;
    box-sizing: border-box;
    vertical-align: top;
    text-align: center;
}

.rec-home-book-title{
    margin-bottom: 5px;
}

.rec-home-author{
    margin-top: 0;
}

.rec-home-book-title,
.rec-home-author-name{
    color: rgb(103, 7, 7);
}

.rec-cover-image{
    height: 300px;
}

.rec-book-desc{
    font-size: 0.9rem;
}

/* bookstores section */

#stores-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

#stores-wrapper{
    width: 90%;
    height: 600px;
    position: relative;
}

#stores-section-heading{
    margin-bottom: 40px;
}

#stores-home-image{
    float: right;
    width: 50vw;
    max-width: 560px;
}

.stores-home-text{
    width: calc(100% - 53vw);
    float: left;
}

#stores-learn-more{
    text-align: center;
    position: absolute;
    bottom: 50px;
    width: 100%;
    margin: 0;
}

/* footer */

footer{
    height: 220px;
    background-color: rgb(103, 7, 7);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer > div{
    display: inline-block;
}

#footer-newsletter-signup{
    display: flex;
    align-items: center;
    margin: 16px 0;
}

#footer-newsletter-signup-heading{
    display: inline-block;
    margin: 0 20px 0 0;
    width: 140px;
}

#footer-newsletter-signup-heading span{
    display: inline-block;
    width: 100%;
}

.form-space-right{
    margin-right: 30px;
}

footer input{
    border: rgb(103, 7, 7) solid 1px;
}

#newsletter-signup-button{
    background-color: #fff;
    color: rgb(103, 7, 7);
    font-family: Montserrat, sans-serif;
}

#newsletter-signup-button:hover{
    background-color: rgb(103, 7, 7);
    color: #fff;
    border: #fff solid 1px;
}

#newsletter-desc{
    font-size: 0.8rem;
    margin: 6px 0 0 0; 
}

#footer-social-media{
    vertical-align: top;
}

#footer-social-media ul{
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100px;
}

#footer-social-media li{
    display: inline-block;
    list-style: none;
}

#footer-social-media a{
    color: #fff;
    font-size: 1.3rem;
}

#footer-social-media a:hover{
    color: rgb(62, 62, 62);
}

/* responsiveness */

/* this width was chosen because the club section heading would break onto three lines here */
@media (max-width: 982px){
    
    /* header */
    
    #logo{
        font-size: 30px;
        line-height: 30px;
        margin: 25px 20px;
    }
    
    #logo > span{
        letter-spacing: 3.9px;
    }
    
    nav li{
        font-size: 16px;
        line-height: 16px;
        margin: 47px 0;
    }

    /* book club section */
    
    #club-wrapper{
        flex-direction: row;
    }
    
    #club-section-heading{
        width: 100%;
        padding: 0;
        text-align: center;

        /* this code pushes the heading slightly above where it would normally sit; for stylistic purposes only */
        position: relative;
        bottom: 20px;
    }

    #main-club-cover{
        position: static;
        height: 500px;
    }

    #club-home-text{
        align-self: flex-start;
        height: 500px;
        padding-left: 36px;
    }

    #club-first-p{
        margin-top: 0;
    }

    /* recommendations section */

    #rec-wrapper{
        width: 90%;
    }
    
    #rec-books-wrapper{
        display: flex;
        flex-direction: column;
    }

    .rec-home-book-div{
        width: 60%;
        height: 180px;
        display: flex;
        flex-direction: column;
        text-align: left;
        position: relative;

        /* to push the text to the right of the book images */
        left: 150px;
    }

    .rec-home-author{
        margin: 5px 0 0 0;
    }

    .rec-right{
        text-align: right;
        align-self: flex-end;
        left: auto;
        right: 150px;
    }

    .rec-cover-image{
        position: absolute;
        left: -140px;
        height: 220px;
    }

    #rec-home-book-one-cover{
        top: 20px;
    }

    #rec-home-book-two-cover{
        top: -5px;
    }

    #rec-home-book-three-cover{
        top: -20px;
    }

    .rec-right .rec-cover-image{
        left: auto;
        right: -140px;
    }

    /* bookstores section */

    #stores-wrapper{
        height: 650px;
    }

    #stores-section-heading{
        margin-bottom: 20px;
    }
    
    #stores-home-image{
        width: 450px;
        display: block;
        float: none;
        margin: auto;
    }

    .stores-home-text{
        width: 100%;
    }

    #stores-learn-more{
        bottom: 10px;
    }
}

@media (max-width: 830px){
    .home-page-section{
        height: 1200px;
    }

    /* header */

    #logo{
        font-size: 25px;
        line-height: 25px;
        margin: 15px 20px;
    }
    
    #logo > span{
        letter-spacing: 3.2px;
    }
    
    nav{
        float: left;
        width: 100%;
    }
    
    nav ul{
        margin: 0 0 0 20px;
        padding: 0;
    }
    
    nav li{
        font-size: 13px;
        line-height: 13px;
        padding: 0;
        margin: 0 15px 0 0;
    }

    /* home page sections */

    .home-section-heading{
        font-size: 2rem;
        margin: 10px 0 20px;
    }

    /* welcome section */

    #welcome-section{
        height: 70vh;
    }
    
    #welcome-logo{
        padding: 0 10px 10px 20px;
        top: 15vh;
        font-size: 40px;
        line-height: 40px;
    }
    
    #heading-edin{
        letter-spacing: 5px;
    }

    /* book club section */
    
    #club-wrapper{
        height: 1000px;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 95%;
    }

    #main-club-cover{
        height: 450px;
        width: fit-content;
        margin: auto;
    }

    #club-home-text{
        width: 100%;
        margin-top: 20px;
        height: auto;
    }

    /* recommendations section */

    #rec-section{
        height: fit-content;
    }
    
    #rec-wrapper{
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        margin: 30px 0;
    }

    #rec-books-wrapper{
        height: 800px;
        justify-content: space-around;
        width: 85%;
    }

    .rec-home-book-div{
        height: 220px;
        left: 150px;
        width: calc(100% - 150px);
    }

    .rec-home-book-title{
        margin-top: 0;
    }

    .rec-right{
        text-align: left;
        align-self: auto;
        right: auto;
    }

    #rec-home-book-two-cover{
        right: auto;
        left: -140px;
    }

    #rec-home-book-one-cover,
    #rec-home-book-two-cover,
    #rec-home-book-three-cover{
        top: 0;
    }

    /* bookstores section */

    #stores-section{
        height: fit-content;
    }

    #stores-wrapper{
        height: fit-content;
    }

    #stores-section-heading{
        margin-top: 20px;
    }

    #stores-home-image{
        width: 400px;
    }

    .stores-home-text{
        float: none;
    }

    #stores-learn-more{
        position: static;
        margin: 30px 0;
    }

    /* footer */

    footer{
        height: fit-content;
    }

    #footer-newsletter-signup{
        flex-direction: column;
    }

    #footer-newsletter-signup-heading{
        width: fit-content;
        margin: 0 0 10px 0;
    }

    #footer-newsletter-signup-heading span{
        display: inline;
    }

    #footer-form-wrapper{
        max-width: 90vw;
    }
}

/* this width was chosen because the footer newsletter description breaks onto two lines here */
@media (max-width: 681px){
    #footer-newsletter-signup-heading{
        align-self: flex-start;
    }

    footer form{
        display: flex;
        flex-direction: column;
        height: 70px;
        justify-content: space-between;
    }

    #newsletter-signup-button{
        width: fit-content;
    }

    #footer-social-media ul{
        margin: 10px 0;
    }

    #footer-social-media a{
        font-size: 1rem;
    }

    #copyright{
        font-size: 0.8rem;
    }
}

/* this width was chosen because the recommendations section heading breaks onto two lines here */
@media (max-width: 601px){
    /* home page sections */

    .home-section-heading{
        text-align: left;
    }
    
    /* recommendations section */
    
    #rec-books-wrapper{
        width: 100%;
        height: fit-content;
        display: block;
    }

    #rec-section-heading,
    #rec-section-desc{
        text-align: left;
    }

    #rec-section-desc{
        margin-bottom: 15px;
    }
    
    .rec-home-book-div{
        left: auto;
        width: 100%;
        height: fit-content;
        margin-bottom: 15px;
        padding: 0;
    }

    .rec-home-book-title{
        font-size: 1.5rem;
    }

    .rec-home-author{
        font-size: 1.1rem;
        margin-bottom: 5px;
    }

    /* this code moves the book cover images to the center of the page */
    .rec-home-book-div a{
        display: flex;
        justify-content: center;
    }

    .rec-cover-image{
        position: static;
        height: 350px;
        margin: 10px 0;
    }

    /* bookstores section */

    #stores-section{
        height: fit-content;
    }

    #stores-home-image{
        width: 80%;
    }

    #stores-learn-more{
        position: static;
        text-align: left;
        margin-bottom: 20px;
    }
}

/* OTHER PAGES */

#page-heading-section{
    height: 200px;
    background: #3e3e3e url("../images/pexels-suzy-hazelwood-1887609.jpg") center/cover no-repeat;
    color: white;
    position: relative;
}

/* CLUB PAGE */

/* page heading section */

#club-page-heading{
    float: left;
    background-color: rgba(62, 62, 62, .5);
    padding: 10px 5px 10px 50px;
    margin: 0;
    position: absolute;
    top: 80px;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-size: 40px;
    /* line-height: 70px; */
    font-weight: 500;
}